[Unit]
Description=SemeloOS Hardware Spoofer (Phase 1)
DefaultDependencies=no
Before=network.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/semelo-spoof.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
